.grid {
  margin-top: 30px;
  display: grid;
  justify-items: center;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "pic header header"
    "pic audio audio"
    "description description description";
}

.pic {
  grid-area: pic;
}

.header {
  grid-area: header;
}

.description {
  grid-area: description;
  max-width: 700px;
}

.audio {
  grid-area: audio;
  width: 100%;
}
